header {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    #logo {
        height: 80px;
    }
    nav {
        a {
            margin: 0 15px;
        }
        a.btn {
            padding: 10px 20px;
            border: 1px solid #f3aeae;
            border-radius: 5px;
        }
        .btn.active {
                background-color: #ee9797;
                color: #719ba5;
            }
    }
}